.content{
	margin: 70px auto 70px auto;
}


.post{
	display: block;
	width: 100%;
}
.post .num{
	display: block;
	font-size: 15px;

}
.post .title{
	display: block;
	font-size: 25px;
	font-weight: 700;

}
.navbar-fixed-top, .navbar-fixed-bottom{
	position: relative!important;
}

.index-content a,
.reestr a {
    padding: 40px 0px;
    margin: 16px 0 !important;
    font-size: 25px !important;
}
h1{
	text-align: center;
}
.box {
    text-align: center;
    line-height: 1;
}
.doit p, p.doit {
    text-align: center;
    font-size: 50px;
    padding: 30px;
}
.booking a {
	padding: 13px 0;
	margin: 16px 0;
}
.btn-my,
.doctor a {
	padding: 20px 0 !important;
	font-size: 25px;
}
.hidden{
	visibility: hidden;
}

.recept {
    text-align: center;
    border: 1px solid grey;
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
}

.hosp{
	display: block;
	position: relative;
	padding: 30px 0!important;
}